.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  transition: color .2s ease; /* smooth transition */
}
.nav__link:hover { color: #2f80ed; }
